[Desktop Entry]
Name=IPTVBoss Utility Tool
Exec=/usr/local/bin/IPTVBoss_Tool
Icon=IPTVBoss_Tool
Terminal=false
Type=Application
Categories=Utility;Video;
