[Desktop Entry]
Name=IPTV Stream Checker
Exec=/usr/local/bin/IPTV-Stream-Checker
Icon=iptv_gui
Terminal=false
Type=Application
Categories=Utility;Video;
