Package: iptv-stream-checker
Version: 1.0
Section: base
Priority: optional
Architecture: amd64
Maintainer: SFTech13
Description: IPTV Stream Quality Checker
 A simple IPTV checking tool with GUI for .m3u playlists.
